<section class="login-form">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label for="from">Votre adresse e-mail:</label>
    <input type="email" id="from" formControlName="from" required class="form-control"/>

    @if(!contactForm.get('from')?.valid && submitted){
    <div class="error-message">
    {{ fromErrorMessage }}
    </div>
    }
  </div>

  <div class="form-group">
    <label for="subject">Sujet</label>
    <input type="text" id="subject" formControlName="subject" required class="form-control"/>
  </div>
  @if(!contactForm.get('subject')?.valid && submitted){
  <div class="error-message">
  {{ subjectErrorMessage }}
  </div>
  }

  <div class="form-group">
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message" required class="form-control"></textarea>
  </div>
  @if(!contactForm.get('message')?.valid && submitted){
  <div class="error-message">
  {{ messageErrorMessage }}
  </div>
  }

  <div class="form-submit">
    <button type="submit" class="primary-button">Envoyer</button>
  </div>

</form>

  @if (messageSent){
  <div class="success-message mt-2">
    Votre message a été envoyé avec succès.
  </div>
  }

  @if (messageFailed){
  <div
    class="error-message login-error mt-2"
    role="alert">
    {{ error }}
  </div>
  }
</section>

