@if (isLoading){
<div class="ring">Loading
<span class="loading"></span>
</div>
}

<section id="motos-list">
  <h1>Liste des Motos</h1>
  <div>
    <a href="javascript:;" (click)="addMoto()" class="material-symbols-outlined" title="Ajouter une moto">add_circle</a>
  </div>

  @if (!isLoading) {

  <div class="motos-container">
    @for (moto of motos; track moto.id){
      <div class="card-motos-list">

        <div class="flex-center">
          <div class="badge-secondary">{{ moto.marque }}</div>
          <div class="badge-secondary">{{ moto.modele }}</div>
        </div>

        <div class="flex-center">
          <div><p>Conso total</p><p class="badge-secondary">{{ moto.litresTotal }} litres</p></div>
          <div><p>Conso moyenne</p><p class="badge-secondary">{{ moto.consoMoyenne }} l/100</p></div>
          <div><p>Coût au km</p><p class="badge-secondary">{{ moto.prk }} € / km</p></div>
        </div>

        <div class="flex-center">
          <div><p>Dernier graissage: </p><p class="badge-secondary">{{ moto.dateLastGraissage }} jours</p></div>
          <div><p>Dernière pression: </p><p class="badge-secondary">{{ moto.dateLastPression }} jours</p></div>
        </div>

        <div class="flex-evenly">
          <div>
            <a href="javascript:;" (click)="editMoto(moto)" class="material-symbols-outlined" title="Mettre à jour la moto {{ moto.marque }} {{ moto.modele }}">edit_note</a>
          </div>

          <div>
            <a href="javascript:;" (click)="openConfirmation(moto)" class="material-symbols-outlined badge-delete" title="Supprimer la moto {{ moto.marque }} {{ moto.modele }}">delete</a>
          </div>
        </div>

      </div>

    } @empty {
  <span>Vous n'avez aucune moto</span>
  }

  </div>
  }
</section>
