<div class="popup">
  <div class="popup-close">
    <a href="javascript:;" (click)="closePopup()" class="material-symbols-outlined">close</a>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmitMoto()" class="form-container">

    <h3>{{ buttonLabel }} une moto</h3>

    <div class="form-group">
      <div><label for="marque">Marque</label></div>
      <input
        id="marque"
        class="form-control"
        formControlName="marque"
        type="text"
      />
    </div>
    @if(!form.get('marque')?.valid && submitted){
    <div class="error-message">
    {{ marqueErrorMessage }}
    </div>
    }

    <div class="form-group">
      <div><label for="modele">Modèle</label></div>
      <input
        id="modele"
        class="form-control"
        formControlName="modele"
        type="text"
      />
    </div>
    @if(!form.get('modele')?.valid && submitted){
    <div class="error-message">
    {{ modeleErrorMessage }}
    </div>
    }

    <div class="form-submit">
      <button type="submit" class="secondary-button">
        {{ buttonLabel }}
      </button>
    </div>

  </form>
</div>


