<div class="popup">
  <form [formGroup]="form" (ngSubmit)="onSubmitDepense()" class="form-container">

    <div class="form-group">
      <div><label for="montant">Montant</label></div>
      <input
        id="montant"
        class="form-control"
        formControlName="montant"
        type="number"
      />
    </div>
    @if(!form.get('montant')?.valid && submitted){
    <div class="error-message">
      {{ montantErrorMessage }}
    </div>
    }

    <div class="form-group">
      <div><label for="date">Date de l'opération</label></div>
      <input
        id="date"
        type="datetime-local"
        class="form-control"
        formControlName="date"
      />
    </div>
    @if(!form.get('date')?.valid && submitted){
    <div class="error-message">
    {{ dateErrorMessage }}
    </div>
    }

    <div class="form-group">
      <div>
        <label for="kmParcouru">Km parcouru</label>
      </div>

      <input
        id="kmParcouru"
        class="form-control"
        formControlName="kmParcouru"
        type="number"
      />
    </div>

    <div class="form-group">
      <div><label for="essenceConsomme">Essence consommée</label></div>
      <input
        id="essenceConsomme"
        class="form-control"
        formControlName="essenceConsomme"
        type="number"
      />
    </div>

    <div class="form-group">
      <div><label for="essencePrice">Prix de l'essence</label></div>
      <input
        id="essencePrice"
        class="form-control"
        formControlName="essencePrice"
        type="number"
      />
    </div>

    <div class="form-group">
      <div><label for="commentaire">Commentaire</label></div>
      <input
        id="commentaire"
        class="form-control"
        formControlName="commentaire"
        type="text"
      />
    </div>

    <div class="form-group">
      <div><label for="kilometrage">Kilométrage</label></div>
      <input
        id="kilometrage"
        class="form-control"
        formControlName="kilometrage"
        type="number"
      />
    </div>

    <div class="form-group">
      <div><label for="depenseType">Type de dépense</label></div>
      <select
        id="depenseType"
        class="form-control"
        formControlName="depenseType"
        (change)="onTypeSelection($event)"
      >
        <option *ngFor="let type of depensesType" [ngValue]="type.id.toString()">
          {{ type.name }}
        </option>
      </select>
      @if (selectedType == '0') {
      <div>
        <input type="text" class="form-control" placeholder="Autre dépense" formControlName="autre_depense">
      </div>
      }
    </div>
    @if(!form.get('depenseType')?.valid && submitted){
    <div class="error-message">
    {{ depenseTypeErrorMessage }}
    </div>
    }

    <div class="form-group">
      <div><label for="moto">Moto</label></div>
      <select
        id="moto"
        class="form-control"
        formControlName="moto"
      >
        <option *ngFor="let moto of motoList" [ngValue]="moto.id.toString()">
          {{ moto.name }}
        </option>
      </select>
    </div>
    @if(!form.get('moto')?.valid && submitted){
    <div class="error-message">
    {{ motoErrorMessage }}
    </div>
    }

    <div class="form-submit">
<!--      <button type="submit" class="secondary-button" [disabled]="!form.valid">-->
      <button type="submit" class="secondary-button">
        {{ buttonLabel }}
      </button>
    </div>

  </form>
</div>
