<div class="login-form">
  @if (!isLoggedIn){
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <div><label for="username">Username</label></div>
      <input type="email" class="form-control" id="username" formControlName="username">
    </div>
    @if(!loginForm.get('username')?.valid && submitted){
    <div class="error-message">
      {{ usernameErrorMessage }}
    </div>
  }

    <div class="form-group">
      <div><label for="password">Password</label></div>
      <div class="password-field">
        <div><input
              [type]="passwordFieldType"
              class="form-control"
              id="password"
              formControlName="password"></div>
        <div><span class="material-symbols-outlined" (click)="togglePasswordVisibility()">{{passwordFieldIcon}}</span></div>
      </div>
    </div>

    @if(!loginForm.get('password')?.valid && submitted){
    <div class="error-message">
      {{ passwordErrorMessage }}
    </div>
    }

<!--  Confirm password-->
  @if(isRegistration){
    <div class="form-group">
      <div><label for="confirmPassword">Password</label></div>
      <div class="password-field">
        <div><input
          [type]="passwordFieldType"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"></div>
        <div><span class="material-symbols-outlined" (click)="togglePasswordVisibility()">{{passwordFieldIcon}}</span></div>
      </div>
    </div>

    @if(!loginForm.get('confirmPassword')?.value && submitted){
    <div class="error-message">
    {{ confirmPasswordMissingErrorMessage }}
    </div>
    }

    @if(loginForm.get('confirmPassword')?.value && submitted && !isPasswordConfirmed){
    <div class="error-message">
    {{ confirmPasswordErrorMessage }}
    </div>
    }
  }

    <div class="form-submit">
      <button type="submit" class="primary-button">{{ label}}</button>
    </div>

    @if(!isRegistration){
      <div class="mt-1-5">Vous n'avez pas encore de compte? <a [routerLink]="['/register']" class="underline"> S'enregistrer</a></div>
    }

  </form>
  }

  @if (isLoginFailed){
  <div
    class="error-message login-error mt-1-5"
    role="alert">
    La connexion a échoué: {{ error }}
  </div>
  }

  @if (isLoggedIn){
  <div class="alert alert-success">
    Vous êtes connecté avec l'email {{ email }}. Vous allez être redirigé vers la page d'accueil.
  </div>
  }
</div>
