<div class="popup">
  @if (!isLoggedIn){
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <div><label for="username">Username</label></div>
      <input type="text" class="form-control" id="username" formControlName="username">
    </div>
    <div class="form-group">
      <div><label for="password">Password</label></div>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-submit">
    <button type="submit" class="primary-button">Se connecter</button>
    </div>
  </form>
  }

  @if (isLoginFailed){
  <div
    class="alert alert-danger"
    role="alert">
    La connexion a échoué: {{ error }}
  </div>
  }

  @if (isLoggedIn){
  <div class="alert alert-success">
    Vous êtes connecté avec l'email {{ email }}. Vous allez être redirigé vers la page d'accueil.
  </div>
  }
</div>
