<div class="burger-logo-div" (click)="toggleMenu()" [class.is-open]="isMenuOpen">
  <span class="material-symbols-outlined burger-logo">{{ isMenuOpen ? "close" : "menu"}}</span>
</div>

<nav class="nav-div" [class.is-open]="isMenuOpen">
  <div class="menu">
    <div>
    <button class="primary-button sidebar-button" [routerLink]="['']" (click)="isMenuOpen && toggleMenu()">
      <span class="material-symbols-outlined">home</span>
    </button>

    @if (isLoggedIn){
    <button class="secondary-button sidebar-button" [routerLink]="['depenses']" (click)="isMenuOpen && toggleMenu()">
      <span>Dépenses</span>
    </button>

       <button class="secondary-button sidebar-button" [routerLink]="['entretien']" (click)="isMenuOpen && toggleMenu()">
      <span>Entretiens</span>
    </button>
    }
    </div>
    <div>
    @if (!isLoggedIn){
    <button class="secondary-button sidebar-button" [routerLink]="['login']" (click)="isMenuOpen && toggleMenu()">
      <span class="material-symbols-outlined">account_circle</span>
    </button>
    }

    @if (isLoggedIn){
    <button class="secondary-button sidebar-button" (click)="logout()">
      <span class="material-symbols-outlined">account_circle_off</span>
    </button>
    }
      </div>
  </div>
</nav>



