/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
/* You can add global styles to this file, and also import other style files */
/*Choose your primary and secondary colors. Primary is for main CTAs and sections, and Secondary is for less important buttons and info cards.*/
/*Accent color is an additional color. It appears in images, highlights, hyperlinks, boxes, cards, etc.*/
@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(263, 20%, 8%); /*    --text: #131018;*/
    --background: hsl(270, 20%, 98%); /*    --background: #faf9fb;*/
    --primary: hsl(268, 39%, 52%); /*    --primary: #8155b4;*/
    --secondary: hsl(269, 48%, 72%); /*    --secondary: #b695da;*/
    --accent: hsl(268, 58%, 62%); /*    --accent: #9a66d6;*/
    --secondary30: hsl(269, 48%, 72%, 30%);
    --primary40: hsl(268, 39%, 52%, 40%);
    --primary39: hsl(268, 39%, 52%, 39%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(262, 20%, 92%); /*    --text: #eae7ef;*/
    --background: hsl(270, 11%, 14%); /*    --background: #231F27;*/
    --primary: hsl(268, 39%, 48%); /*    --primary: #774baa;*/
    --secondary: hsl(269, 48%, 28%); /*    --secondary: #46256a;*/
    --accent: hsl(268, 58%, 38%); /*    --accent: #5d2999;*/
    --secondary30: hsl(269, 48%, 28%, 30%);
    --primary40: hsl(268, 39%, 48%, 40%);
    --primary39: hsl(268, 39%, 48%, 39%);
  }
}

:root {
  --static: rgba(0, 0, 0, 0.5);
  --xsmall: 390px;
  --small: 768px;
  --medium: 1024px;
  --large: 1280px;
  --error-color: #cc0033;
  --blanc: hsl(262, 20%, 92%);
}

html,
body {
  height: 100%;
  background: var(--background);
  color: var(--text);
  text-align: center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100;
  src: url(assets/fonts/material-symbols/material-symbols.woff2) format('woff2');
}

@font-face {
  font-family: "Prata";
  src: url("assets/fonts/prata/Prata-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat/static/Montserrat-Regular.ttf")
  format("truetype");
  font-display: swap;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

button {
  background: var(--primary);
  padding: 0.5em 2em;
  border-radius: 0.5rem;
  display: inline-block;
  white-space: nowrap;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.primary-button {
  background-color: var(--primary);
  color: var(--text);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  z-index: 2;
}

.secondary-button {
  background-color: var(--secondary30);
  color: var(--text);
  z-index: 1;
  /*cursor: pointer;*/
  transition: transform ease 0.2s;
}

.danger-button {
  color: var(--text);
  background-color: #dc3545;
  border-color: #dc3545;
  transition: transform ease 0.2s;
}

.mat-mdc-dialog-actions {
  justify-content: space-evenly!important;
}

.mat-mdc-dialog-container .mdc-dialog__content, .mat-mdc-dialog-container .mdc-dialog__title {
  color: var(--text) !important;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.blur-background {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(31px);
  z-index: 500;
}

input, select, option {
  background: var(--primary)
}

/****************************************** GLOBAL  ************/

.mt-1-5 {
  margin-top: 1.5rem;
}

.underline {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-ml-2{
  margin-left: 2rem;
  margin-right: 2rem;
}

.p-1{
  padding: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-2{
  padding-left: 2rem;
}

.pr-1-5 {
  padding-right: 1.5rem;
}

.border-30 {
  border-radius: 30px;
}

.hidden {
  display: none;
}

/****************************************** LOADING ANIMATION  ************/
.ring {
  position:absolute;
  top:50%;
  left:60%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:var(--text);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px var(--text);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before {
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid var(--text);
  border-right:3px solid var(--text);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loading {
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:60%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loading:before {
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:var(--text);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px var(--text);
}
@keyframes animateC {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform:rotate(45deg);
  }
  100% {
    transform:rotate(405deg);
  }
}
/****************************************** FIN LOADING ANIMATION  ************/
/****************************************** CARDS  ************/
.card {
  min-height: 150px;
  min-width: 500px;
  border: none;
  /*box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 10px 10px 8px 0 var(--primary40), 0 6px 20px 0 var(--primary39);
  margin-bottom: 20px;
  /*width: 100%;*/
  background: var(--primary);
  border-radius: 50px;
  /*padding: 20px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.card-top {
  display: flex;
  flex-direction: column;
  /*height: 80px;*/
  background: var(--accent);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  min-height: 80px;
}

.card-title-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-title {
  margin: 0;
  max-width: 150px;
  word-break: break-word;
}

.card-moto {
  position: absolute;
  right: 50px;
  top: 0;
}

.card-body {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*margin: 20px;*/
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 20px 20px 20px;
}

.card-subtitle {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 20px 20px 20px;
}

.card-info {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  width: 200px;
}

.card-info-1 {
  background: var(--secondary);
}

.card-info-2 {
  background: var(--accent);
}

.card-info-3 {
  background: var(--background);
}

.card-info-4 {
  background: var(--secondary30);
}

/****************************************** FIN CARDS  ************/
/****************************************** POPUP ************/
.cdk-overlay-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  /*background: var(--primary);*/
  border-radius: 20px;
}

.cdk-global-overlay-wrapper{
  background: var(--primary);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background: var(--primary) !important;
  border-radius: 20px !important;
}

/****************************************** FIN POPUP  ************/
/****************************************** PAGINATOR ************/
.mat-mdc-paginator{
  display: flex !important;
  justify-content: center !important;
  background-color: var(--background) !important;
}
.mat-mdc-paginator-outer-container{
  background: var(--background);
}

.mat-mdc-paginator-icon {
  fill: var(--text) !important;
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon{
  /*fill: var(--mdc-icon-button-disabled-icon-color) !important;*/
  fill: var(--background) !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
  color: var(--text) !important;
}


.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple){
  background-color: var(--primary) !important;
}

.cdk-overlay-pane div.mat-mdc-select-panel {
  background-color: var(--primary);
}
/****************************************** FIN PAGINATOR  ************/
@media (width <= 768px) {
  .ring, .loading {
    left:50%;
  }

  .card {
    min-width: 250px;
    border-radius: 20px;
  }

  .card-moto {
    display: none;
  }

  .card-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

}
