/* You can add global styles to this file, and also import other style files */
/*Choose your primary and secondary colors. Primary is for main CTAs and sections, and Secondary is for less important buttons and info cards.*/
/*Accent color is an additional color. It appears in images, highlights, hyperlinks, boxes, cards, etc.*/
@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(263, 20%, 8%);
    --background: hsl(270, 20%, 98%);
    --primary: hsl(268, 39%, 52%);
    --secondary: hsl(269, 48%, 72%);
    --accent: hsl(268, 58%, 62%);
    --secondary30: hsl(269, 48%, 72%, 30%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(262, 20%, 92%);
    --background: hsl(270, 20%, 2%);
    --primary: hsl(268, 39%, 48%);
    --secondary: hsl(269, 48%, 28%);
    --accent: hsl(268, 58%, 38%);
    --secondary30: hsl(269, 48%, 28%, 30%)
  }
}

:root {
  --static: rgba(0, 0, 0, 0.5);
  --xsmall: 390px;
  --small: 768px;
  --medium: 1024px;
  --large: 1280px;
}


/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    --text: #131018;*/
/*    --background: #faf9fb;*/
/*    --primary: #8155b4;*/
/*    --secondary: #b695da;*/
/*    --accent: #9a66d6;*/
/*  }*/
/*}*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --text: #eae7ef;*/
/*    --background: #050406;*/
/*    --primary: #774baa;*/
/*    --secondary: #46256a;*/
/*    --accent: #5d2999;*/
/*  }*/
/*}*/

html,
body {
  height: 100%;
  background: var(--background);
  color: var(--text);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100;
  src: url(assets/fonts/material-symbols/material-symbols.woff2) format('woff2');
}

@font-face {
  font-family: "Prata";
  src: url("assets/fonts/prata/Prata-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat/static/Montserrat-Regular.ttf")
  format("truetype");
  font-display: swap;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

a {
  text-decoration: none;
}

button {
  background: var(--primary);
  padding: 0.5em 2em;
  border-radius: 0.5rem;
  display: inline-block;
  white-space: nowrap;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.primary-button {
  background-color: var(--primary);
  color: var(--text);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  z-index: 2;
}

.secondary-button {
  background-color: var(--secondary30);
  color: var(--text);
  z-index: 1;
  /*cursor: pointer;*/
  transition: transform ease 0.2s;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.ring {
  position:absolute;
  top:50%;
  left:60%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:var(--text);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px var(--text);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before {
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid var(--text);
  border-right:3px solid var(--text);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loading {
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:60%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loading:before {
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:var(--text);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px var(--text);
}
@keyframes animateC {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform:rotate(45deg);
  }
  100% {
    transform:rotate(405deg);
  }
}

@media (width <= 768px) {
  .ring, .loading {
    left:50%;
  }
}
