<h1>Liste des dépenses</h1>

@if (isLoading){
<div class="ring">Loading
  <span class="loading"></span>
</div>
}


<section id="depenses-list">

  @if (!isLoading) {
   <table mat-table [dataSource]="dataSource">
    <!-- Define the columns -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
<!--      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>-->
      <th mat-header-cell *matHeaderCellDef>{{ getColumnLabel(column) }}</th>

      <td mat-cell *matCellDef="let element">
        <!-- Check if the column is for 'moto' and display only the 'modele' property -->
        <ng-container *ngIf="column !== 'moto' && column !== 'depenseType'; else motoColumn">
          {{ element[column] }}
        </ng-container>
        <ng-template #motoColumn>
          {{ column === 'moto' ? element.moto.modele : element.depenseType.name }}
        </ng-template>
      </td>

<!--      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>-->
    </ng-container>

    <!-- Render the rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }
</section>
